* {
    box-sizing: border-box;
}

body {
    background-image: url("what-the-hex.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 150%;
    color: #777777;
    min-height: 100%;
    overflow: auto;
    display: block;
    position: relative;
    padding-bottom: 58px;
}
/* white banner for top of page */

#banner {
    background: #ffffff;
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid #cccccc;
    margin-bottom:20px;
    top:0;
}

/* container to push width to 960 in order to hold list and name*/
#container {
    width: 960px;
    height: 30px;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    margin: 0 auto 0;
}
/* list of contact information*/
ul {
    list-style-type: none;
    color: #dddddd;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10px;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
/* Name on banner at top of page */
#name {
    background: #4aaaa5;
    color: #ffffff;
    position: absolute;
    top:-30px;
    left:0px;
    text-align: center;
    padding: 33px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* main content area containing heading, image, and paragraphs*/

#wrapper {
    background: #ffffff;
    position: relative;
    width: 960px;
    min-height: 100%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: 20px;
    padding-bottom: 50px;
}
/* about me header*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
    font-size: 32px;
    text-align: left;
    margin: 10px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #dddddd;
}

img {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
}

p{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: -4px;
    margin-top:-50px;
    width: 100%;
    clear: both;
}

/* start contact.html page- form to enter information*/ 
form {
    margin: 10px;
    margin-top: 15px;
}

input {
    width: 860px;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}
#message {
    height: 200px;
}
/* submit button below form */
button {
    width: 100px;
    height: 30px;
    background:#4aaaa5;
    color: #ffffff;
    border:0px;
    margin-top: 20px;
}

/* Portfolio page */

.container {
    height: 600px;
    position: relative;
}
.box {
    position: relative;
    width: 275px;
    height: 183px;
}
h3{
    position: absolute;
    bottom: 0px;
    margin-bottom:0;
    margin-left: 8px;
    padding:15px;
    width: 100%;
    color: #ffffff;
    background: #4aaaa5;
    border-bottom: 0px;
}
.box img {
    width: 110%;
    border: 0 none;
    margin: 10px;
}

.c {
    clear: both;
}
.e{
    clear: both;
}

th {
    padding: 20px 0px 0 20px; 
}